.jumbotron {
    text-align: center;
    background:none;
}
.sectionLight {
    background-color: #eceeef;
    padding: 2em;
}
.sectionDark {
    background-color: #cccccc;
    padding: 2em;
}
.coolStuffWrapper{
    margin-top:20px;
    
}
.coolStuffBtn{
    background-color: orangered;
    color: #ffffff;
    display: block;
    margin: auto;
}

h5.modal-title {
    margin: auto;
}

.modalFormWrapper {
    padding: 2rem;
}

.imgCenter{
    display: block;
    margin: auto;
}
.btnCenter {
    display: block;
    margin: auto;
    background-color: orangered;
    color: white; 
    margin-top: 15px;
    margin-bottom: 20px; 
    width: 54%;
} 
.footerImg{
    padding: 15px;
}
.fa {
    margin: 10px;
}
.fa-facebook-square{
    color: #3b5998;
}
.fa-instagram{
    color: white;
}
.fa-google-plus-g{
    color: #c32f10;
}
.socialIcon {
    margin: auto;
}